{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h2>
                <a href="/">
                    <i class="fa fa-search"></i> Искать:
                </a>
            </h2>
        </div>
        <form class="w3-container" action="/search" method="post">
            <label>Текст поиска:</label>
            <input class="w3-input w3-border w3-round" type="text" name="text" id="text">
            <button type="submit" class="w3-input w3-btn w3-blue">Искать</button>
        </form>
        <article class="w3-container">
            <div class="w3-margin-top">
                {% if query %}
                    <h4>По запросу "{{ query }}" найдено :</h4>
                    {% for result in results %}
                        {% include "doc-card.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
