{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <form action="/search" method="post">
        <label for="text">Текст поиска:</label>
        <input type="text" name="text" id="text">
        <button type="submit">Искать</button>
    </form>
    <article>
        {% if query %}
            По запросу "{{ query }}" найдено :
            {% for result in results %}
                <fieldset>
                    {{ result.text }}
                    <form action="/delete/{{ result.doc_id }}">
                        <button type="submit">x</button>
                    </form>
                </fieldset>
            {% endfor %}
        {% else %}
            Пусто
        {% endif %}
    </article>
{% endblock %}
{% block footer %}{% endblock %}
